name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
permissions:
    contents: read  # This is required for actions/checkout

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
          python -m venv venv
          . venv/bin/activate
          pip install -r flask_app/requirements.txt

      - name: Build Docker image
        run: docker build -t flask_app:latest -f Dockerfile .

      - name: Login to Cloudsmith Docker Registry
        env:
          CLOUDSMITH_API_KEY: ${{ secrets.CLOUDSMITH_API_KEY }}
        run: echo $CLOUDSMITH_API_KEY | docker login docker.cloudsmith.io -u $CLOUDSMITH_API_KEY --password-stdin

      - name: Push Docker image to Cloudsmith
        run: docker push docker.cloudsmith.io/demo/ciara-test/flask_app:latest
